//color palette
$principal : #FC007A;
$principalDark : #ca0a67;
$secundario : #00E1FD;
$secundarioDark : #2cb3c5;
$black: #0d0c0c;
$grey: #bab5b5;


//typography
$font-principal: 'Roboto', sans-serif;
$font-Scundaria: 'Anton', sans-serif;

//medias queries
$movil: 480px;
$tablet: 900px;
$desktop: 1000px;




